<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Template</title>
</head>
<style>
    h3 {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-block-start: 0;
        padding-block-end: 0;
        padding-inline-start: 0;
        padding-inline-end: 0;
    }
</style>
<body>
<div>
    <div style="display: flex;">
        <div style="display: block; display: -webkit-box;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Ikea_logo.svg" height="40px">
            <div style="display: block; padding-left: 10px">
                <h3>Comprobante de pago {{ period }}</h3>
                <h3>{{ comprobante_de_pago }}</h3>
                <h3>{{ title }}</h3>
            </div>
        </div>
    </div>
    <div>
        <div style="display: block; overflow: hidden;">
            <!-- Left div (floats to the left) -->
            <div style="float: left; width: 48%; padding-top: 60px;">
                <p>Salario Bruto: {{ gross_salary }}</p>
                <p>Pago Bruto: {{ gross_payment }}</p>
                <p>Pago Neto: {{ net_payment }}</p>
            </div>

            <!-- Right div (floats to the right) -->
            <div style="float: right; width: 48%; padding-top: 20px; text-align: right;">
                <h3>Descuentos</h3>
                <p>SFS: {{ gross_payment }}</p>
                <p>AFP: {{ gross_payment }}</p>
                <p>ISR: {{ gross_payment }}</p>
                <p>Otros: {{ gross_payment }}</p>
            </div>
        </div>
        <div>
            <p>Total: {{ gross_payment }}</p>
        </div>
    </div>
</div>
</body>
</html>